<!DOCTYPE html>
<html>
<head>
    <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Emotions</title>

    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="preloader">
         <div class="sk-spinner sk-spinner-wordpress">
              <span class="sk-inner-circle"></span>
         </div>
    </div>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow">
        <a class="navbar-brand" href="/">
            <img src="/static/img/logo.png" class="d-inline-block align-top logotype" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Все фото с хакатона<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выбор эмоции
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Какая-то эмоция</a>
                    <a class="dropdown-item" href="#">Какая-то эмоция 2</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Все фото с эмоциями</a>
                </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="spacer">
        &nbsp;
        &nbsp;
    </div>
    {% block content %}{% endblock %}
    <footer>
         <div class="container">
              <div class="row">

                   <div class="col-md-5 col-md-offset-1 col-sm-6">
                        <h3>Momentum bots</h3>
                        <p>Task for int20h hackathon</p>
                        <div class="footer-copyright">
                             <p>Copyright &copy; 2019 Momentum bots</p>
                        </div>
                   </div>

                   <div class="col-md-4 col-md-offset-1 col-sm-6">
                        <h3>Contacts</h3>
                        <p><i class="fa fa-globe"></i> <a href="https://momentum-bots.top">Momentum bots site</a></p>
                        <p><i class="fa fa-phone"></i> 380660550435</p>
                        <p><i class="fa fa-save"></i> momentum.bots@gmail.com</p>
                   </div>

                  <!--  <div class="clearfix col-md-12 col-sm-12">
                        <hr>
                   </div> -->

                   <!-- <div class="col-md-12 col-sm-12">
                        <ul class="social-icon">
                             <li><a href="#" class="fa fa-facebook"></a></li>
                             <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                   </div> -->

              </div>
         </div>
    </footer>

    <!-- Back top -->
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

</body>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/particles.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery.parallax.js"></script>
    <script src="/static/js/smoothscroll.js"></script>
    <script src="/static/js/custom.js"></script>

    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</html>