{% extends "base_template.html" %}
{% block content %}
<section id="home" class="main-home parallax-section">
     <div class="overlay"></div>
     <div id="particles-js"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Int20h emotions LIVE.</h1>
                    <h4>Made by Momentum bots</h4>
                    <a href="#photos" class="smoothScroll btn btn-default">Улыбайтесь с нами!</a>
               </div>

          </div>
     </div>
</section>


<div class="container" id="photos">
    <div class="spacer">
        &nbsp;
    </div>
    <div class="row">
        {% for photo in photos %}
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover shadow">
                    <a class="lightbox" href="{{photo['url_o']}}">
                        <img src="{{photo['url_m']}}" alt="{{photo['title']}}" class="card-img-top img">
                    </a>
                    <div class="card-body">
                        <h5>Эмоции: {% for emotion in photo['emotions']%}{{emotions[emotion]}} {% endfor %}</h5>
                        <p class="card-text">{{photo['title']}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
