{% extends "base_template.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% for photo in photos %}
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover shadow">
                    <a class="lightbox" href="{{photo['url_o']}}">
                        <img src="{{photo['url_m']}}" alt="{{photo['title']}}" class="card-img-top img">
                    </a>
                    <div class="card-body">
                        <h5>Фото с/без эмоции</h5>
                        <p class="card-text">{{photo['title']}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
